nav{
    background-color: black;
    color: chartreuse;
    font-size: 26px;
}


nav ul li{
    
    padding: 10px;
    cursor: pointer;
    flex: auto;
    text-align: center;
}

nav ul{

    display: flex;
    list-style-type: none;
    margin:0;
    padding:0;
   
}

li:hover{
    background-color: gray;
    color: white;
}

@media all and (max-width:400px){
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
    }
}