body{
    margin: auto;
}

/* HEADER START */

.container-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
.head-logo{
    padding-left: 150px;
}

.head-logo img{
    height: 40px;

}

.content-head{
    padding-right: 200px;
}

.content-head ul{
    display: flex;
}

.content-head li{
    list-style: none;
    padding: 10px;
}

.content-head a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    padding: 10px;
}

.content-head a:hover,.content-head a.active{
    border: 1px solid red;
    background: #000;
}

/*-----------------*/
.img-header{
    background:url('images/2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;

}

.flex-caption{
    margin: 0px;
}
.flex-head{

    font-size: 25px;
    font-weight: bolder;
    color: rgb(230, 33, 33);
    margin-top: -100px;
    margin-left: 150px;

}



/* HEADER END */


/* ------------------------CONTAINER START----------------------*/
.container{
    max-width: 1200px;
    margin: auto;
    border-bottom:1px solid rgb(211, 195, 195);
    padding: 80px 0;
    
}

.container-fi a{
    background: rgb(230, 33, 33);
    color: white;
    padding: 12px;
    text-decoration: none;

}

.container-fi p{
    color: rgb(87, 81, 81);
    font-style: normal;
    font-weight: lighter;
}

.container-f h1{
    font-size: 24px;
}
/* ------------------------CONTAINER END----------------------*/

/* SECTION START */

.main-section{
    display: flex;
    max-width: 80%;
    margin: auto;
    padding-top: 25px;


}

.section-p{
    
    padding: 30px;
    width: 100%;
}

.section-p h1{
    font-size: 22px;
    font-weight: bolder;
}
/* SECTION END */
/*  MAIN START  */

.main-h{
    padding-bottom: 20px;
}
.main-container{
    max-width: 1200px;
    border: 1px solid transparent;
    margin: auto;
    padding: 50px;
}
.main-content{
    display: flex;
    justify-content: space-between;

}

.ch{
    text-align: center;
    font-size: 22px;
    
}

.chh{
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-top: -4px;
}

.team-m img{
    border: 1px solid gray;
    width: 250px;
    border-bottom: 5px solid red;
   
}

/*  MAIN END  */

/*  -----------------------------------------------------FOOTER START ------------------------------------------------------ */

.footer-box{
    background-color: black;
}

.footer-box-container{
    color: white;
    display: flex;
    justify-content: space-around;   
    padding: 50px 100px 120px 100px;
    max-width: 1200px;
    margin: auto;
}

.box-first{
    border: 1px solid transparent;
}

.rn-box{
    padding-bottom: 5px;
    color: gray;
    max-width: 300px;
    border: 1px solid transparent;
    margin: auto;

}

.box-first h5{
    color: red;
}

.links-a a{
    color: gray;
    text-decoration: none;
    border: 1px solid  transparent;

}


.last-footer{
    color: white;
    padding-left: 150px;
    font-size: 12px;
    padding-bottom: 30px;
}

.last-footer cite{
    color:red;
    font-style: normal;
}

.last-footer-s{

    margin-right: 150px;
}

.last-footer-f{
    display: flex;
    justify-content: space-between;
}


.last-footer-s  i {
    border: 1px solid gray;
    font-size: 30px;
    margin: 5px;
    color: red;
    box-sizing:content-box;
    background: #000;
    
}
/*  ---------------------------------------------------------FOOTER END -----------------------------------------------------*/